body {
    font-family: Arial, sans-serif;
    background-color: #cccccc;
    margin: 0;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #333;
}

.produtos {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.produto {
    background-color: rgb(240, 240, 240);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
}

.produto img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #218838;
}

#menu-btn {
    position: fixed;
    top: 0px;
    left: 10px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    z-index: 1001;
}

#sidebar {
    position: fixed;
    top: 0;
    left: -270px;
    width: 220px;
    height: 100%;
    background-color: #e7e7e7;
    color: rgb(66, 66, 66);
    transition: left 0.3s ease;
    padding-top: 70px;
    z-index: 1000;
}

#sidebar.active {
    left: 0;
}

#sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#sidebar ul li {
    padding: 15px 15px;
}

#sidebar ul li a {
    color: rgb(24, 24, 24);
    text-decoration: none;
}

#sidebar ul li:hover {
    background-color: #9e9e9e;
}